<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<class>com.rong.RongCloudPlugin</class>
	<name>rongCloud</name>
	<description>rongCloud Plugin.</description>
	<author>lhp</author>
	<version>2.0.0</version>
	<date>18/12/2017</date>
	<minServerVersion>4.0.4</minServerVersion>
	<adminconsole></adminconsole>
</plugin>